@font-face {
  font-family: 'Google Sans';
  src: url('../../public/assets/font/GoogleSans-Regular.ttf') format("truetype");
  font-display: block;
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Google Sans Medium';
  src: url('../../public/assets/font/GoogleSans-Medium.ttf') format("truetype");
  font-display: block;
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: 'Google Sans Bold';
  src: url('../../public/assets/font/GoogleSans-Bold.ttf') format("truetype");
  font-display: block;
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: 'Google Sans Italic';
  src: url('../../public/assets/font/GoogleSans-Italic.ttf') format("truetype");
  font-display: block;
  font-style: italic;
  font-weight: 500;
}

@font-face {
  font-family: 'Google Sans Medium Italic';
  src: url('../../public/assets/font/GoogleSans-MediumItalic.ttf') format("truetype");
  font-display: block;
  font-style: italic;
  font-weight: 500;
}

@font-face {
  font-family: 'Google Sans Bold Italic';
  src: url('../../public/assets/font/GoogleSans-BoldItalic.ttf') format("truetype");
  font-display: block;
  font-style: italic;
  font-weight: 700;
}
